VITE_API_URL=http://localhost:8000/api

# Firebase Auth Configuration
VITE_FIREBASE_API_KEY=AIzaSyBGemwiwPUSmCY7PJTkPCqFffqjnXYes6s
VITE_FIREBASE_AUTH_DOMAIN=farmflow-cc670.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=farmflow-cc670
VITE_FIREBASE_STORAGE_BUCKET=farmflow-cc670.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=320774020488
VITE_FIREBASE_APP_ID=1:320774020488:web:61702982e0fb7af00f2e3d
VITE_FIREBASE_MEASUREMENT_ID=G-NSRBRG23ZF
